body {
    margin: 0;
    padding-top: 50px;
    border-style: solid;
    border-color: cornflowerblue;
    border-radius: 10px;
    border-width: 20px;
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
}

.profile {
    padding-top: 0px;
    width: 175px;
    margin-bottom: 50px;
    margin-left: 50px;
    line-height: 1.1px;
    border: 5px solid #555;
    margin-top: 200px;
    border-style: double;
}


#welcome {
    position: absolute;
    overflow: hidden;
    height: 800px;
    color: #FFFFFF;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    opacity: 0.83;
    background: deepink;
    display: table;
    width: 100%;
    height: 100%;
}

h1 {
    font-family: cursive;
    font-size: 30px;
    font-weight: 300;
    line-height: 1.1;
    color: deeppink;
}

#name {
    font-size: 30px;
    line-height: 1.2;
    font-family: sans-serif;
}

h2 {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.2;
    font-family: cursive;
}

#bio {
    padding: 50px;
    text-align: center;
    font-size: 42px;
    line-height: 2.1px;
}

.line {
    height: 6px;
    background-color: lightcoral;
    width: 70px;
    margin: 8px auto;
}

p {
    max-width: 450px;
    margin: 25px auto;
    font-size: 17px;
    line-height: 1.3;
    font-family: cursive;
    color: brown;
    font-size: 20px;
}

.parallax-inner {
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
}

.menu {
    list-style: inside;
    font-family: sans-serif;
    position: absolute;
    top: 10px;
    right: 30px;
    z-index: 10;
    cursor: pointer;
}



.links {
    float: left;
    color: lightsalmon;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family: cursive;
    font-size: 20px;
}

html {
    scroll-behavior: smooth;
}

.links:hover {
    background-color: moccasin;
}

#picture {
    width: 160px;
    height: 160px;
}

img {
    transition: transform .2s;
    border: 10px solid #AAAAAA;
}

img:hover {
    transform: scale(0.9);
}
